form {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 400px;
}

input {
    display: block;
    box-sizing: border-box;
    width:100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

form > input {
    margin-top: 10px;
}

textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid white;
    margin-bottom: 10px;
    font-size: 14px;
}

select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid white;
    margin-bottom: 10px;
    font-size: 14px;
}

button[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;  
}

 
button:active {
    transition:0.3s all;
    transform:translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

button:hover {
    background: #bf1650;
    transition: 0.3s all;
}


.image {
    border: 1px solid white;
    display: block;
    border-radius: 4px;
    background-color: turquoise;
    font-size: 16px;
    color: black;
}

.contact {
    display: flex;
}

.contact :first-child {
    margin-right: 5px;
}

.contact :nth-child(2) {
    margin-left: 5px;
}
